{% extends 'shopping/base.html' %} {% load staticfiles %} {% block content %}
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div>
                        <ul class="category-menu">
                          <li><a href="index.html">CPU</a></li>
                          <li><a href="services.html">RAM</a></li>
                          <li><a href="catalogue.html">MB</a></li>
                          <li><a href="pricing.html">VGA</a></li>
                          <li><a href="contacts.html">SSD/HDD</a></li>
                          <li><a href="contacts.html">CASE</a></li>
                          <li><a href="contacts.html">POWER</a></li>
                          <li><a href="contacts.html">InputDevices</a></li>
                        </ul>
                      </div>
{% include 'cpu_detail.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
