  <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src="images/page4-img1.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                            <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                            <div class="wrapper">
                              <span class="price fleft">$45.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent3">
                            <figure class="frame2 p2"><img src="images/page4-img2.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</p>
                            <p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt eque porro quisquam est, qui dolorem ipsum.</p>
                            <div class="wrapper">
                              <span class="price fleft">$54.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-right">
                            <figure class="frame2 p2"><img src="images/page4-img3.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Feque porro quisquam est, qui dolorem ipsum quia dolor sit consectetur.</p>
                            <p>Adipisci velit, sed quia non numquam eius modi tempora incidu labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <div class="wrapper">
                              <span class="price fleft">$38.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src="images/page4-img1.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                            <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                            <div class="wrapper">
                              <span class="price fleft">$45.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent3">
                            <figure class="frame2 p2"><img src="images/page4-img2.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</p>
                            <p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt eque porro quisquam est, qui dolorem ipsum.</p>
                            <div class="wrapper">
                              <span class="price fleft">$54.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-right">
                            <figure class="frame2 p2"><img src="images/page4-img3.jpg" alt="" /></figure>
                            <p class="color-4 prev-indent-bot">Feque porro quisquam est, qui dolorem ipsum quia dolor sit consectetur.</p>
                            <p>Adipisci velit, sed quia non numquam eius modi tempora incidu labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <div class="wrapper">
                              <span class="price fleft">$38.99</span>
                              <a class="button fright" href="#">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
