{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block content %}
<section id="content">
    <div class="bg-top">
      <div class="bg-top-2">
            <div class="bg">
                <div class="bg-top-shadow">
                    <div class="main">
                        <div class="box">
                            <div class="padding">
                                <div class="container_12">
                                    <div class="wrapper">
                                        <div class="grid_12">
                                          <div class="indent-left p2">
                                              <h3 class="p0">New Item</h3>
                                            </div>
                                            <div class="wrapper p4">
                                                <article class="grid_4 alpha">
                                                    <div class="indent-left">
                                                        <figure class="frame2 p2"><img src='{% static "images/960_evo.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">삼성전자 960 EVO M.2 2280 250GB</p>
                                                        <p>내장형 / M.2 (2280) / PCIe3.0x4 (32GT/s) / NVMe 1.2 / TLC(토글) / 3D낸드 / 삼성 Polaris / LDDR3 / 512MB / 최대 3,200MB/s / 최대 1,500MB/s / 1,500,000시간 / TRIM 지원 / GC 기능 / S.M.A.R.T 지원 / DEVSLP 지원 / 2.38mm / 최대 7.7g / 3년</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩169,900</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4683575&keyword=960%20evo&cate=112760">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="grid_4">
                                                    <div class="indent3">
                                                        <figure class="frame2 p2"><img src='{% static "images/i7_8700k.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">인텔 코어i7-8세대 8700K (커피레이크)</p>
                                                        <p>인텔(소켓1151v2) / 14nm / 헥사(6)코어 / 쓰레드 12개 / 3.70GHz / 12MB / 64비트 / 95W / 인텔 UHD Graphics 630 / 350MHz / 하이퍼스레딩 / 옵테인</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩462,800</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5529981&keyword=i7%208700k&cate=112747">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="grid_4 omega">
                                                    <div class="indent-right">
                                                        <figure class="frame2 p2"><img src='{% static "images/maximus_x.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">ASUS ROG MAXIMUS X HERO</p>
                                                        <p>인텔(소켓1151v2) / (인텔) Z370 / ATX (30.5x24.4cm) / DDR4 / 메모리 용량: 최대 64GB / XMP / VGA 연결: PCIe3.0 x16 / 멀티 GPU: CrossFire X, SLI / PCIe 슬롯: 6개 / SATA3: 6개 / M.2: 2개 / 8ch / 그래픽 출력: HDMI, DP / PS/2: 없음 / USB2.0: 후면 2개 / USB3.0: 후면 4개 / USB3.1: 후면 2개 / UEFI / 인텔 옵테인 / 기가비트 LAN</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩457,600</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5539371&keyword=maximus%20x&cate=112751">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="wrapper">
                                                <article class="grid_4 alpha">
                                                    <div class="indent-left">
                                                        <figure class="frame2 p2"><img src='{% static "images/rog_spatha.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">ASUS ROG SPATHA</p>
                                                        <p>마우스 / 레이저 / 12버튼 / 유.무선 겸용 / 내장 배터리 / USB / 상하 / 8200DPI / 가속도 30G / H/W 매크로 / 소프트웨어 지원 / 내장 메모리 / LED 튜닝제품 / 게이밍 마우스 / OMRON 스위치 / 137mm / 89mm / 45mm / 178.5g / 2m</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩218,700</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5140408&keyword=rog%20spatha&cate=112787">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="grid_4">
                                                    <div class="indent3">
                                                        <figure class="frame2 p2"><img src='{% static "images/ryzen_1700.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">AMD 라이젠 7 1700 (서밋 릿지)</p>
                                                        <p>AMD(소켓AM4) / 14nm / 64비트 / 옥타(8) 코어 / 쓰레드 16개 / 3.0GHz / 65W / 4MB / 16MB / XFR / SENSEMI / Wraith SPIRE 쿨러 포함</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩329,400</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4929428&keyword=ryzen%201700&cate=112747">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="grid_4 omega">
                                                    <div class="indent-right">
                                                        <figure class="frame2 p2"><img src='{% static "images/tridentz_rgb.jpg" %}' alt="" /></figure>
                                                        <p class="color-4 prev-indent-bot">G.SKILL DDR4 16G PC4-24000 CL16 TRIDENT Z RGB (8Gx2)</p>
                                                        <p>DDR4 / PC용 / 2ea / 포함 / Dimm / 16GB / 3,000MHz / 1.35V / XMP / LED 라이트 / 메모리 타이밍 : 16-18-18-38</p>
                                                        <div class="wrapper">
                                                          <span class="price fleft">₩314,650</span>
                                                            <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5023077&keyword=trident%20z%20rgb&cate=112752">Read More</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-bot">
      <div class="main">
          <div class="container_12">
              <div class="wrapper">
                  <article class="grid_4">
                      <h3 class="p2">New Item</h3>
                        <div class="wrapper">
                          <figure class="img-indent frame2"><img src='{% static "images/main_image.PNG" %}' alt="" /></figure>
                            <p class="prev-indent-bot color-4">인텔 8세대 CPU 커피레이크 출시</p>
                            <p class="prev-indent-bot">기존의 7세대와는 다른 강력한 경험을 해보세요.</p>
                            <a class="button" target="_blank" href="http://prod.danawa.com/list/?cate=11325159">View More</a>
                        </div>
                    </article>
                    <article class="grid_8">
                      <h3 class="prev-indent-bot2">Our Pricing</h3>
                        <div class="wrapper">
                          <div class="grid_4 alpha">
                              <div class="indent-right2">
                                    <ul class="price-list">
                                        <li><span>₩448,200</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5529981&cate=11325159">인텔 코어i7-8세대 8700K</a><strong>&nbsp;</strong></li>
                                        <li><span>₩247,460</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530356&cate=11325159#">인텔 코어i5-8세대 8400</a><strong>&nbsp;</strong></li>
                                        <li><span>₩359,000</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530421&cate=11325159">인텔 코어i5-8세대 8600K</a><strong>&nbsp;</strong></li>
                                        <li><span>₩138,000</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530456&cate=11325159">인텔 코어i3-8세대 8100</a><strong>&nbsp;</strong></li>
                                        <li><span>₩392,800</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530013&cate=11325159">인텔 코어i7-8세대 8700</a><strong>&nbsp;</strong></li>
                                        <li class="last"><span>₩211,900</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530687&cate=11325159">	인텔 코어i3-8세대 8350K</a><strong>&nbsp;</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid_4 omega">
                              <div class="indent-right2">
                                    <ul class="price-list">
                                        <li><span>₩224,200</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5061813&cate=113990">AMD 라이젠 5 1600</a><strong>&nbsp;</strong></li>
                                        <li><span>₩329,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929428&cate=113990">AMD 라이젠 7 1700</a><strong>&nbsp;</strong></li>
                                        <li><span>₩198,900</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5061812&cate=113990">AMD 라이젠 5 1500X</a><strong>&nbsp;</strong></li>
                                        <li><span>₩267,600</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5065152&cate=113990">	AMD 라이젠 5 1600X</a><strong>&nbsp;</strong></li>
                                        <li><span>₩414,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929434&cate=113990">	AMD 라이젠 7 1700X</a><strong>&nbsp;</strong></li>
                                        <li class="last"><span>₩542,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929144&cate=113990">AMD 라이젠 7 1800X</a><strong>&nbsp;</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
