{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block content %}
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div>
                        <img src='{% static "images/main_banner.png" %}' alt="" />
                      </div>
                      <br>
                      <div class="inner">
                          <div class="wrapper">
                              <span class="title img-indent3">HELLO!</span>
                              <div class="extra-wrap indent-top2">
                                <strong>SANGHWAMall</strong>은 과제를 위해 제작된 페이지이며, 상품 판매를 하지 않습니다. 착오 없으시길 바랍니다.
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-bot">
    <div class="main">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <h3 class="p2">New Item</h3>
            <div class="wrapper">
              <figure class="img-indent frame2"><img src='{% static "images/main_image.PNG" %}' alt="" /></figure>
              <p class="prev-indent-bot color-4">인텔 8세대 CPU 커피레이크 출시</p>
              <p class="prev-indent-bot">기존의 7세대와는 다른 강력한 경험을 해보세요.</p>
              <a class="button" target="_blank" href="http://prod.danawa.com/list/?cate=11325159">View More</a>
            </div>
          </article>
          <article class="grid_8">
            <h3 class="prev-indent-bot2">Our Pricing</h3>
            <br>
            <div class="wrapper">
              <div class="grid_4 alpha">
                <div class="indent-right2">
                  <ul class="price-list">
                    <li><span>₩448,200</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5529981&cate=11325159">인텔 코어i7-8세대 8700K</a><strong>&nbsp;</strong></li>
                    <li><span>₩247,460</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530356&cate=11325159#">인텔 코어i5-8세대 8400</a><strong>&nbsp;</strong></li>
                    <li><span>₩359,000</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530421&cate=11325159">인텔 코어i5-8세대 8600K</a><strong>&nbsp;</strong></li>
                    <li><span>₩138,000</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530456&cate=11325159">인텔 코어i3-8세대 8100</a><strong>&nbsp;</strong></li>
                    <li><span>₩392,800</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530013&cate=11325159">인텔 코어i7-8세대 8700</a><strong>&nbsp;</strong></li>
                    <li class="last"><span>₩211,900</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5530687&cate=11325159">	인텔 코어i3-8세대 8350K</a><strong>&nbsp;</strong></li>
                  </ul>
                </div>
              </div>
              <div class="grid_4 omega">
                <div class="indent-right2">
                  <ul class="price-list">
                    <li><span>₩224,200</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5061813&cate=113990">AMD 라이젠 5 1600</a><strong>&nbsp;</strong></li>
                    <li><span>₩329,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929428&cate=113990">AMD 라이젠 7 1700</a><strong>&nbsp;</strong></li>
                    <li><span>₩198,900</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5061812&cate=113990">AMD 라이젠 5 1500X</a><strong>&nbsp;</strong></li>
                    <li><span>₩267,600</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=5065152&cate=113990">	AMD 라이젠 5 1600X</a><strong>&nbsp;</strong></li>
                    <li><span>₩414,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929434&cate=113990">	AMD 라이젠 7 1700X</a><strong>&nbsp;</strong></li>
                    <li class="last"><span>₩542,400</span><a target="_blank" href="http://prod.danawa.com/info/?pcode=4929144&cate=113990">AMD 라이젠 7 1800X</a><strong>&nbsp;</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
