{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block content %}

<section id="content">
    <div class="bg-top">
      <div class="bg-top-2">
            <div class="bg">
                <div class="bg-top-shadow">
                    <div class="main">
                        <div class="gallery p3">
                          <div class="wrapper indent-bot">
                                <div id="gallery" class="content">
                                   <div class="wrapper">
                                       <div class="slideshow-container">
                                            <div id="slideshow" class="slideshow"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="thumbs" class="navigation">
                                    <ul class="thumbs noscript">
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img1.png" %}' title=""> <img src='{% static "images/custom_liquid_1.png" %}' alt="" /><span></span> </a>
                                        </li>
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img2.png" %}' title=""> <img src='{% static "images/custom_liquid_2.png" %}' alt="" /> <span></span></a>
                                        </li>
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img3.png" %}' title=""> <img src='{% static "images/custom_liquid_3.png" %}' alt="" /> <span></span></a>
                                        </li>
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img4.png" %}' title=""> <img src='{% static "images/custom_liquid_4.png" %}' alt="" /> <span></span></a>
                                        </li>
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img5.png" %}' title=""> <img src='{% static "images/custom_liquid_5.png" %}' alt="" /> <span></span></a>
                                        </li>
                                        <li>
                                            <a class="thumb" href='{% static "images/gallery-img6.png" %}' title=""> <img src='{% static "images/custom_liquid_6.png" %}' alt="" /> <span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="inner-2">
                                <div class="wrapper">
                                    <span class="title t2 img-indent3">Custom Liquid System</span>
                                    <div class="extra-wrap indent-top2">
                                      인텔 최신의 I7 커피레이크 메인프로세서와 엔비디아 Geforce 1080ti의 하이엔드 컴포넌트 구성으로 고사양 게이밍에 최적화된 커스텀 워커쿨링 시스템입니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel">
                            <h3 class="color-1 p2">수냉 시스템</h3>
                            <a class="prev" href="#">Prev</a>
                            <a class="next" href="#">Next</a>
                            <div class="jCarouselLite">
                                <ul id="carousel">
                                    <li><a href="#"><img src='{% static "images/custom_liquid_1.png" %}' alt="" /><span>LC</span></a></li>
                                    <li><a href="#"><img src='{% static "images/custom_liquid_2.png" %}' alt="" /><span>L5</span></a></li>
                                    <li><a href="#"><img src='{% static "images/custom_liquid_3.png" %}' alt="" /><span>LUNA</span></a></li>
                                    <li><a href="#"><img src='{% static "images/custom_liquid_4.png" %}' alt="" /><span>ASURA</span></a></li>
                                    <li><a href="#"><img src='{% static "images/custom_liquid_5.png" %}' alt="" /><span>RA-CL</span></a></li>
                                    <li><a href="#"><img src='{% static "images/custom_liquid_6.png" %}' alt="" /><span>LT</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-bot">
      <div class="main">
          <div class="container_12">
              <div class="wrapper">
                  <article class="grid_4">
                      <div class="indent-right2">
                            <h3 class="prev-indent-bot">Publications</h3>
                            <p class="color-4 prev-indent-bot">At vero eos et accusamus et iusto odio dignissi tum deleniti atque corrupti quos</p>
                            <p>Dolores et quas molestias excepturi sint occae cati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
                            <a class="button" href="#">View More</a>
                        </div>
                    </article>
                    <article class="grid_4">
                      <h3 class="p2">Art of Placement</h3>
                        <div class="wrapper">
                          <figure class="img-indent frame2"><img src="images/page3-img5.jpg" alt="" /></figure>
                            <div class="extra-wrap">
                              <p class="img-indent-bot">At vero eos eaccusa mus etusto odio tium voluptatum deleniti atque corrupti quos dolores et quas.</p>
                                <a class="button" href="#">View More</a>
                            </div>
                        </div>
                    </article>
                    <article class="grid_4">
                      <h3 class="prev-indent-bot2">External Links</h3>
                        <ul class="list-2">
                          <li><a href="#">Totam rem aperiam eaque ipsa quae abillo</a></li>
                            <li><a href="#">Inventore veritatis quasi architecto beatae vitae</a></li>
                            <li><a href="#">Nemo enim ipsam voluptatem quia</a></li>
                            <li><a href="#">Voluptas sit aspernatur aut odit aut fugit</a></li>
                            <li><a href="#">Sed quia consequuntur magni dolores eos</a></li>
                            <li class="last-item"><a href="#">Ratione voluptatem sequi nesciunt</a></li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
