{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block content %}
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div>
                        <ul class="category-menu">
                          <li><a href="{% url 'category_cpu' %}">CPU</a></li>
                          <li><a href="{% url 'category_ram' %}">RAM</a></li>
                          <li><a href="{% url 'category_mb' %}">MB</a></li>
                          <li><a href="{% url 'category_vga' %}">VGA</a></li>
                          <li><a href="{% url 'category_ssdhdd' %}">SSD/HDD</a></li>
                          <li><a href="{% url 'category_case' %}">CASE</a></li>
                          <li><a href="{% url 'category_power' %}">POWER</a></li>
                          <li><a href="{% url 'category_inputdevices' %}">InputDevices</a></li>
                        </ul>
                      </div>

                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_1.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 8G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 8GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩84,800</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4343051&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_2.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 16G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 16GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩166,400</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4519874&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_3.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 4G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 4GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩42,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5040061&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_4.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">AMD 라이젠 5 1600 (서밋 릿지) (정품)</p>
                            <p>AMD(소켓AM4) / 14nm / 64비트 / 헥사(6) 코어 / 쓰레드 12개 / 3.2GHz / 65W / 3MB / 16MB / XFR / SENSEMI / Wraith SPIRE 쿨러 포함</p>
                            <div class="wrapper">
                              <span class="price fleft">₩224,200</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5061813&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_5.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">AMD 라이젠 7 1700 (서밋 릿지) (정품)</p>
                            <p>AMD(소켓AM4) / 14nm / 64비트 / 옥타(8) 코어 / 쓰레드 16개 / 3.0GHz / 65W / 4MB / 16MB / XFR / SENSEMI / Wraith SPIRE 쿨러 포함</p>
                            <div class="wrapper">
                              <span class="price fleft">₩329,400</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4929428&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_6.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">인텔 코어i7-7세대 7700K (카비레이크) (정품)</p>
                            <p>인텔(소켓1151) / 14nm / 쿼드(4)코어 / 쓰레드 8개 / 4.2GHz / 8MB / 64비트 / 91W / 인텔 HD 630 / 350MHz / 하이퍼스레딩</p>
                            <div class="wrapper">
                              <span class="price fleft">₩354,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4815493&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_7.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">인텔 펜티엄 G4600 (카비레이크) (정품)</p>
                            <p>인텔(소켓1151) / 14nm / 듀얼 코어 / 쓰레드 4개 / 3.6GHz / 3MB / 64비트 / 51W / 인텔 HD 630 / 350MHz / 하이퍼스레딩</p>
                            <div class="wrapper">
                              <span class="price fleft">₩74,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4827968&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_8.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">인텔 코어i5-8세대 8400 (커피레이크) (정품)</p>
                            <p>인텔(소켓1151v2) / 14nm / 헥사(6)코어 / 쓰레드 6개 / 2.80GHz / 9MB / 64비트 / 65W / 인텔 UHD Graphics 630 / 350MHz / 옵테인</p>
                            <div class="wrapper">
                              <span class="price fleft">₩253,400</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5530356&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_cpu_9.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">인텔 코어i5-8세대 8600K (커피레이크) (정품)</p>
                            <p>인텔(소켓1151v2) / 14nm / 헥사(6)코어 / 쓰레드 6개 / 3.60GHz / 9MB / 64비트 / 95W / 인텔 UHD Graphics 630 / 350MHz / 옵테인</p>
                            <div class="wrapper">
                              <span class="price fleft">₩359,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5530421&cate=112747">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
