{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block content %}
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div>
                        <ul class="category-menu">
                          <li><a href="{% url 'category_cpu' %}">CPU</a></li>
                          <li><a href="{% url 'category_ram' %}">RAM</a></li>
                          <li><a href="{% url 'category_mb' %}">MB</a></li>
                          <li><a href="{% url 'category_vga' %}">VGA</a></li>
                          <li><a href="{% url 'category_ssdhdd' %}">SSD/HDD</a></li>
                          <li><a href="{% url 'category_case' %}">CASE</a></li>
                          <li><a href="{% url 'category_power' %}">POWER</a></li>
                          <li><a href="{% url 'category_inputdevices' %}">InputDevices</a></li>
                        </ul>
                      </div>

                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_1.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 8G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 8GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩84,800</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4343051&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_2.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 16G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 16GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩166,400</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4519874&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_3.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">삼성전자 DDR4 4G PC4-19200 (정품)</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 4GB / 2,400MHz</p>
                            <div class="wrapper">
                              <span class="price fleft">₩42,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5040061&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_4.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">타무즈 DDR4 8G PC4-19200 CL17</p>
                            <p>DDR4 / PC용 / 1ea / 미포함 / Dimm / 8GB / 2,400MHz / 1.20V / 메모리 타이밍 : 17-17-17-39</p>
                            <div class="wrapper">
                              <span class="price fleft">₩84,900</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5093440&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_5.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">ADATA XPG DDR4 16G PC4-24000 CL16 SPECTRIX D40 (8Gx2)</p>
                            <p>DDR4 / PC용 / 2ea / 포함 / Dimm / 16GB / 3,000MHz / 1.35V / XMP / LED 라이트</p>
                            <div class="wrapper">
                              <span class="price fleft">₩289,490</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5541600&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_6.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">G.SKILL DDR4 16G PC4-19200 CL15 TRIDENT Z RGB (8Gx2)</p>
                            <p>DDR4 / PC용 / 2ea / 포함 / Dimm / 16GB / 2,400MHz / 1.20V / XMP / LED 라이트 / 메모리 타이밍 : 15-15-15-35</p>
                            <div class="wrapper">
                              <span class="price fleft">₩274,000</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=4904916&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="wrapper p4">
                        <br>
                        <article class="grid_4 alpha">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_7.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">G.SKILL DDR4 16G PC4-24000 CL16 TRIDENT Z RGB (8Gx2)</p>
                            <p>DDR4 / PC용 / 2ea / 포함 / Dimm / 16GB / 3,000MHz / 1.35V / XMP / LED 라이트 / 메모리 타이밍 : 16-18-18-38</p>
                            <div class="wrapper">
                              <span class="price fleft">₩314,650</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5023077&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_8.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">CORSAIR DDR4 32G PC4-25600 CL16 VENGEANCE WHITE RGB (8Gx4)</p>
                            <div class="wrapper">
                              <p>DDR4 / PC용 / 4ea / 포함 / Dimm / 32GB / 3,200MHz / 1.35V / XMP / LED 라이트 / 메모리 타이밍 : 16-18-18-36</p>
                              <span class="price fleft">₩610,730</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5626417&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                        <article class="grid_4 omega">
                          <div class="indent-left">
                            <figure class="frame2 p2"><img src='{% static "images/category_ram_9.jpg" %}' alt="" /></figure>
                            <p class="color-4 prev-indent-bot">GeIL DDR4 8G PC4-19200 CL17 SUPER LUCE RGB Sync 블랙</p>
                            <p>DDR4 / PC용 / 1ea / 포함 / Dimm / 8GB / 2,400MHz / 1.20V / XMP / LED 라이트 / 메모리 타이밍 : 17-17-17-39</p>
                            <div class="wrapper">
                              <span class="price fleft">₩125,200</span>
                              <a class="button fright" target="_blank" href="http://prod.danawa.com/info/?pcode=5622189&cate=112752">Read More</a>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
